@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;900&family=Roboto:wght@100;300;900&display=swap');

.fonts {
    /* Big Titles */
    font-family: 'Playfair Display', serif;
    /* Menu , paragraph and text */
    font-family: 'Roboto', sans-serif;
    /* Buttons */
    font-family: 'Hammersmith One', sans-serif;
}

.footer-container {
    background-image: url("images/bgk-footer.png");
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #333;
    color: white;
    padding-top: 2%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-left: 10%;
}

.footer-container .column {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: space-between;
    padding: 2%;
  }

.footer-nav {
    list-style: None;
    display:flex;
    justify-content:space-between;
    padding: 0%;
}

.footer-title {
    height: 10vh;
}

.footer-title p {
    float: left;
    max-height: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: xx-large;
}

#footer-link {
    color: white;
}

#footer-logo {
    height: fit-content;
    padding: auto;
}

#footer-h3{
    padding-left: 15%;
    display:flex;
    margin-left: 0%;
    justify-content: flex-start;
}

.address p{
    float: left;
    padding-left: 5%;
}

.mob-no p {
    float: left;
    padding-left: 5%;
}
#mob-no-logo #address-logo {
    height: fit-content;
    padding: auto;
}



.btn {
    background-image: url("images/png/paper122.png"); /* Blue background */
    background-repeat:no-repeat;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */

}
  
.btn:hover {
    background-color: rgb(241, 9, 9);
}


.icon-icon{
    justify-content: center;
    display: flex;
}
.icon-icon img {
    padding: 1%;
}

.bottom{
    justify-content: center;
    display: flex;
}

h3 {
    justify-content: center;
    display: flex;
}

.form-nl {
    justify-content: center;
    display: flex;
    margin: 5%;
}