@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;900&family=Roboto:wght@100;300;900&display=swap');

.fonts {
    /* Big Titles */
    font-family: 'Playfair Display', serif;
    /* Menu , paragraph and text */
    font-family: 'Roboto', sans-serif;
    /* Buttons */
    font-family: 'Hammersmith One', sans-serif;
}
.expertise {
    grid-column: center-start / center-end;

    -ms-grid-rows: min-content 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
 }
    .expertise-heading {
      display: -ms-grid;
      display: grid;
      justify-items: center;
      -ms-flex-line-pack: start;
      align-content: start; 
    }
    .expertise-list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(33.33%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
     }
      @media only screen and (max-width: 54em) {
        .expertise-list {
          -ms-grid-columns: (minmax(50%, 1fr))[auto-fit];
          grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
         } 
        }
      @media only screen and (max-width: 33em) {
        .expertise-list {
          -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; }
         }
    .expertise-item {
      padding: 3rem;
      display: -ms-grid;
      display: grid;
      justify-items: center;
      text-align: center;
      -ms-grid-rows: minmax(8.5rem, 1fr) minmax(5rem, max-content) min-content;
      grid-template-rows: minmax(8.5rem, 1fr) minmax(5rem, -webkit-max-content) -webkit-min-content;
      grid-template-rows: minmax(8.5rem, 1fr) minmax(5rem, max-content) min-content;
     }
      @media only screen and (max-width: 65em) {
        .expertise-item {
          -ms-grid-rows: minmax(7rem, 1fr) minmax(3rem, max-content) min-content;
          grid-template-rows: minmax(7rem, 1fr) minmax(3rem, -webkit-max-content) -webkit-min-content;
          grid-template-rows: minmax(7rem, 1fr) minmax(3rem, max-content) min-content;
         } 
        }
      @media only screen and (min-width: 54em) {
        .expertise-item {
          border-right: 1px solid #eee; 
        }
          .expertise-item:nth-of-type(n+4) {
            border-top: 1px solid #eee;
         }
          .expertise-item:nth-of-type(3n+3) {
            border-right: 0; 
        } 
    }
    .expertise-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.4rem; }
    .expertise-desc {
      font-weight: 300;
      word-spacing: 2px; }


* {
    border: 0;
    margin: 0px;
    padding: 0px;
}


html {
    width: 100%;
}


header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1.8rem;
    color: #11bbb5;
    text-decoration: none;
}

.navbar-logo img {
    margin-right: .5rem;
    padding: .5rem
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar-item a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: .4rem ;
    font-size: .8rem;
}

.navbar-item.active a {
    color: #11bbb5;
}

.container {
    margin: 0px auto; 
    max-width: 960px;
}

section {
    width: 100%;
}

.hero {
    background: url(/images/bgk-header.png);
    background-position: bottom center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-body {
    max-width: 790px;
    color: white;
    text-align: center;
}

hr {
    width: 50px;
    border: none;
    height: 1px;
    background-color: white;
    margin: 0px auto;
}

.hero-body h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: white;
    margin: 1.5rem 0;
    font-size: 2rem;
}

.hero-body p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 1.5rem .75rem;
    font-size: .9rem;
    line-height: 1.5rem;
}

.button {
    border: 1px solid #11bbb5;
    color: #11bbb5;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: .75rem 1rem;
    font-size: 1rem

}

.button.is-primary {
    background-color: transparent;
}

footer {
    background-image: url("images/bgk-footer.png");
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.footer-container .column {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    justify-content: space-between;

  }

.footer-nav {
    list-style: None;
    display:flex;
    justify-content:space-between;
    padding: 0%;
}

.footer-title {
    height: 10vh;
}

.footer-title p {
    float: left;
    max-height: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: xx-large;
}

#footer-link {
    color: white;
}

#footer-logo {
    height: fit-content;
    padding: auto;
}

#footer-h3{
    padding-left: 15%;
    display:flex;
    margin-left: 0%;
    justify-content: flex-start;
}

.media {
    display: flex;
    
}

.icon-footer {
    padding-right: .5rem;
}

.address p{
    float: left;
    padding-left: 5%;
}



.button {
    border: 1px solid #11bbb5;
    color: #11bbb5;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: .75rem 1rem;
    font-size: 1rem

}

.button.is-primary {
    background-color: transparent;

}

h2 {
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 1.4rem;
}

h3 {
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: 1rem;
}


h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0px;
}

p {
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5rem;

}


.white-bg {
    padding: 3rem 0px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


.is-4-desktop {
    width: 33.33%;
}

.is-6-desktop {
    width: 50%;
}

.is-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-no p {
    float: left;
    padding-left: 5%;
}

#mob-no-logo #address-logo {
    height: fit-content;
    padding: auto;
}



.btn {
    background-image: url("images/png/paper122.png"); /* Blue background */
    background-repeat:no-repeat;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */

}
  
.btn:hover {
    background-color: rgb(241, 9, 9);
}


.icon-icon{
    justify-content: center;
    display: flex;
}
.icon-icon img {
    padding: 1%;
}

.bottom{
    justify-content: center;
    display: flex;
}

h3 {
    justify-content: center;
    display: flex;
}

.form-nl {
    justify-content: center;
    display: flex;
    margin: 5%;
}

