@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;900&family=Roboto:wght@100;300;900&display=swap');

.fonts {
    /* Big Titles */
    font-family: 'Playfair Display', serif;
    /* Menu , paragraph and text */
    font-family: 'Roboto', sans-serif;
    /* Buttons */
    font-family: 'Hammersmith One', sans-serif;
}
.expertise {
    grid-column: center-start / center-end;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
 }
    .expertise-heading {
      display: -ms-grid;
      display: grid;
      justify-items: center;
      -ms-flex-line-pack: start;
      align-content: start; 
    }
    .expertise-list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(33.33%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
     }
      @media only screen and (max-width: 54em) {
        .expertise-list {
          -ms-grid-columns: (minmax(50%, 1fr))[auto-fit];
          grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
         } 
        }
      @media only screen and (max-width: 33em) {
        .expertise-list {
          -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; }
         }
    .expertise-item {
      padding: 3rem;
      display: -ms-grid;
      display: grid;
      justify-items: center;
      text-align: center;
      -ms-grid-rows: minmax(8.5rem, 1fr) minmax(5rem, max-content) min-content;
      grid-template-rows: minmax(8.5rem, 1fr) minmax(5rem, -webkit-max-content) -webkit-min-content;
      grid-template-rows: minmax(8.5rem, 1fr) minmax(5rem, max-content) min-content;
     }
      @media only screen and (max-width: 65em) {
        .expertise-item {
          -ms-grid-rows: minmax(7rem, 1fr) minmax(3rem, max-content) min-content;
          grid-template-rows: minmax(7rem, 1fr) minmax(3rem, -webkit-max-content) -webkit-min-content;
          grid-template-rows: minmax(7rem, 1fr) minmax(3rem, max-content) min-content;
         } 
        }
      @media only screen and (min-width: 54em) {
        .expertise-item {
          border-right: 1px solid #eee; 
        }
          .expertise-item:nth-of-type(n+4) {
            border-top: 1px solid #eee;
         }
          .expertise-item:nth-of-type(3n+3) {
            border-right: 0; 
        } 
    }
    .expertise-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.4rem; }
    .expertise-desc {
      font-weight: 300;
      word-spacing: 2px; }

.footer-container {
    background-image: url("images/bgk-footer.png");
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #333;
    color: white;
    padding-top: 2%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-left: 10%;
}

.footer-container .column {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: space-between;
    padding: 2%;
  }

.footer-nav {
    list-style: None;
    display:flex;
    justify-content:space-between;
    padding: 0%;
}

.footer-title {
    height: 10vh;
}

.footer-title p {
    float: left;
    max-height: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: xx-large;
}

#footer-link {
    color: white;
}

#footer-logo {
    height: fit-content;
    padding: auto;
}

#footer-h3{
    padding-left: 15%;
    display:flex;
    margin-left: 0%;
    justify-content: flex-start;
}

.address p{
    float: left;
    padding-left: 5%;
}

.mob-no p {
    float: left;
    padding-left: 5%;
}
#mob-no-logo #address-logo {
    height: fit-content;
    padding: auto;
}



.btn {
    background-image: url("images/png/paper122.png"); /* Blue background */
    background-repeat:no-repeat;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */

}
  
.btn:hover {
    background-color: rgb(241, 9, 9);
}


.icon-icon{
    justify-content: center;
    display: flex;
}
.icon-icon img {
    padding: 1%;
}

.bottom{
    justify-content: center;
    display: flex;
}

h3 {
    justify-content: center;
    display: flex;
}

.form-nl {
    justify-content: center;
    display: flex;
    margin: 5%;
}